---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import WastelandLeaderboard from "../components/WastelandLeaderboard.astro";
import CityWire from "../components/CityWire.astro";
import Community from "../components/Community.astro";
---

<BaseLayout>
  <Hero />
  <WastelandLeaderboard />
  <div class="deco-divider container"><span class="diamond"></span></div>
  <CityWire />
  <div class="deco-divider container"><span class="diamond"></span></div>
  <Community />
</BaseLayout>
